<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Makanan terbaik untukmu">
  <link rel="icon" href="/src/public/favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/src/public/images/heros/hero-image_4_128x128.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <title>Makan.in Apps</title>
</head>
<body>
  
  <a href="#content" class="skip-link">Skip to content ?</a>
  <!-- Mobile Navbar -->
  <div class="mobile-menu">
      <div class="icon-menu" id="menu">
        <button id="hamburger" aria-label="navigation-menu">&#9776;</button>
      </div>
      <div class="mobile-logo"><h2>Makan.in</h2></div>      
  </div>
  
  <nav id="drawer" class="navbar-mobile">
      <ul class="navbar-listMobile">
          <li class="navbar-itemMobile"><a href="/">Home</a></li>
          <li class="navbar-itemMobile"><a href="#/favorite">Favorite</a></li>
          <li class="navbar-itemMobile"><a href="https://www.linkedin.com/in/yusril-ramadhan-83a222221/">About Us</a></li>          
      </ul>
  </nav>

  <!-- Desktop Navbar -->
  <nav class="navbar-desktop">
      <a class="brand" href="">Makan.in</a>
      <ul class="navbar-listDesktop">
          <li class="navbar-itemDesktop"><a href="/">Home</a></li>
          <li class="navbar-itemDesktop"><a href="#/favorite">Favorite</a></li>
          <li class="navbar-itemDesktop"><a href="https://www.linkedin.com/in/yusril-ramadhan-83a222221/">About Us</a></li>                    
      </ul>
  </nav>
  
  <!-- Jumbotron -->
  <div class="hero">
      <div class="hero-container">
          <h1 class="hero-title">Makan.in</h1>
          <p class="hero-subtitle">Cari apa hari ini ?</p>
      </div>
  </div>

  <!-- Content -->
  <main tabindex="0" id="content" class="content">
  </main>

  <!-- Footer -->
  <footer>
      <p>Copyright © 2022 - Makan.in </p>
  </footer>
</body>
</html>
